apiVersion: apps/v1
kind: Deployment
metadata:
  name: altcha
  labels:
    app: altcha
spec:
  replicas: 2
  selector:
    matchLabels:
      app: altcha
  template:
    metadata:
      labels:
        app: altcha
    spec:
      containers:
      - name: altcha
        image: ghcr.io/rayshoo/altcha:latest
        ports:
        - name: http
          containerPort: 3000
          protocol: TCP
        envFrom:
        - secretRef:
            name: altcha-secret
        livenessProbe:
          httpGet:
            path: /
            port: http
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: http
          initialDelaySeconds: 3
          periodSeconds: 5
        resources:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
